<h1 mat-dialog-title>Add a new Adventure</h1>
<div mat-dialog-content>
  <p>Adventure Title</p>
  <mat-form-field>
    <input matInput>
  </mat-form-field>
  <p>Date of Adventure</p>
  <mat-form-field>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker ></mat-datepicker>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div>
