<div class="container">
    
    <button routerLink="" ng-click="saveAdventure()">back and save</button>
    <div class="form-container">
        <mat-form-field floatLabel="always">
            <mat-label>Title</mat-label>
            <input matInput  class="example-right-align" placeholder="adventure title" [(ngModel)]="adventure.title" >
        </mat-form-field>

        <mat-form-field floatLabel="always">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="adventure.date" >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
        </mat-form-field>



        <mat-form-field floatLabel="always">
            <mat-label>Synopsis</mat-label>
            <input matInput  class="example-right-align" placeholder="adventure title" [(ngModel)]="adventure.synopsis">
        </mat-form-field>

        <mat-form-field floatLabel="always">
            <mat-label>Players</mat-label>
            <input matInput  class="example-right-align" placeholder="adventure title">
        </mat-form-field>

        <mat-form-field floatLabel="always">
            <mat-label>NPCs</mat-label>
            <input matInput  class="example-right-align" placeholder="adventure title">
        </mat-form-field>
    </div>
    
</div>