<div class="container">
    
    <button routerLink="">back</button>
    <div class="form-container">
        <mat-form-field floatLabel="always">
            <mat-label>Title</mat-label>
            <input matInput  class="example-right-align" placeholder="adventure title">
        </mat-form-field>

        <mat-form-field floatLabel="always">
            <mat-label>Date</mat-label>
            <input matInput  class="example-right-align" placeholder="adventure title">
        </mat-form-field>

        <mat-form-field floatLabel="always">
            <mat-label>Synopsis</mat-label>
            <input matInput  class="example-right-align" placeholder="adventure title">
        </mat-form-field>

        <mat-form-field floatLabel="always">
            <mat-label>Players</mat-label>
            <input matInput  class="example-right-align" placeholder="adventure title">
        </mat-form-field>

        <mat-form-field floatLabel="always">
            <mat-label>NPCs</mat-label>
            <input matInput  class="example-right-align" placeholder="adventure title">
        </mat-form-field>
    </div>
    
    We got here : ) {{id}}
</div>