.container {
  display: flex;
  flex-flow: row wrap;
}

.box {
  flex-grow: 1;
  outline: auto;
  margin: 15px;
}

.adventure-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.round-button {
  border-radius: 50%;
}
