.container {
  display: flex;
  flex-flow: row wrap;
}

.box {
  flex-grow: 1;
  margin: 10px;
}

.adventure-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.npc {
  flex-basis: 25%;
}

.player {
  flex-basis: 25%;
}

.adventure {
  flex-basis: 40%;
}

.box-title {
  background-color: #7f5015;
  color: #ffd9aa;
  margin-bottom: 10px;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: large;
  outline-style: solid;
  outline-color: black;
  outline-width: 1px;

  -webkit-box-shadow: 3px 3px 3px #7f5015; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 3px #7f5015; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 3px #7f5015; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.round-button {
  text-align: right;
  float: inline-end;
  margin-right: 5px;
  background-color: #ffd9aa;
  cursor: pointer;
}
