<div class="container">
  <div class="box adventure">
    <div class="box-title shadow">
      Adventures
      <button mat-button class="round-button" (click)="openDialog()">+</button>
    </div>

    <div class="adventure-container">
      <app-adventure *ngFor="let adventure of adventures"
      [adventure]="adventure"
      ></app-adventure>
    </div>
  </div>

  <div class="box npc">
    <div class="box-title">
      NPCs 
    </div>
  </div>

  <div class="box player">
    <div class="box-title">
      Players 
    </div>
  </div>
</div>


