/* You can add global styles to this file, and also import other style files */
html {
  background-color: #ffe9ce;
  background-image: linear-gradient(#ffe9ce, #ad7a3c);
  height: 100%;
}

mat-dialog-container {
  background: #ffe9ce !important;
}

mat-calendar {
  background: #ffe9ce !important;
}

button {
  background-color: #ffd9aa;
  border-color: black;

  border-radius: 8px;
}
